<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- 配置session的有效活动时间（单位：分钟） -->
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
	<!-- 配置前台请求处理成功后返回的页面 -->
	<context-param>
		<param-name>success</param-name>
		<param-value>/success.jsp</param-value>
	</context-param>
	<!-- 配置前台请求处理失败后返回的页面 -->
	<context-param>
		<param-name>fail</param-name>
		<param-value>/fail.jsp</param-value>
	</context-param>
	<!-- 配置前台主页 -->
	<context-param>
		<param-name>indexTemp</param-name>
		<param-value>/visitPage/indexTemp.jsp</param-value>
	</context-param>
	<!-- 配置后台主页 -->
	<context-param>
		<param-name>adminTemp</param-name>
		<param-value>/adminPage/adminTemp.jsp</param-value>
	</context-param>
	<!-- 设置收藏夹最大容量 -->
	<context-param>
		<param-name>collectmax</param-name>
		<param-value>50</param-value>
	</context-param>
	<!-- 设置信箱最大容量 -->
	<context-param>
		<param-name>messagemax</param-name>
		<param-value>50</param-value>
	</context-param>
	<!-- 设置类别与版块的最大序号值 -->
	<context-param>
		<param-name>maxorder</param-name>
		<param-value>1000</param-value>
	</context-param>	
	<!-- 设置保存上传的附件的目录(相对于当前Web应用) -->
	<context-param>
		<param-name>filedir</param-name>
		<param-value>/visitPage/attachment/files/</param-value>
	</context-param>
	
<!-- ★　Servlet配置　★ -->
	<!-- 生成验证码的servlet -->
	<servlet>
		<servlet-name>makeverifycode</servlet-name>
		<servlet-class>com.servlet.MakeVerifyCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>makeverifycode</servlet-name>
		<url-pattern>/makeverifycode</url-pattern>
	</servlet-mapping>
	
	<!-- 处理进入论坛请求的Servlet -->
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>com.servlet.IndexServlet</servlet-class>	
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
			
	<!-- 处理进入论坛后台请求的Servlet -->
	<servlet>
		<servlet-name>adminindex</servlet-name>
		<servlet-class>com.servlet.AdminIndexServlet</servlet-class>
		<init-param>
			<param-name>adminindex</param-name>
			<param-value>/adminPage/index.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminindex</servlet-name>
		<url-pattern>/adminindex</url-pattern>
	</servlet-mapping>
	
	<!-- 处理对"用户组"进行相关请求的Servlet -->
	<servlet>
		<servlet-name>group</servlet-name>
		<servlet-class>com.servlet.GroupServlet</servlet-class>
		<init-param>
			<param-name>managerindex</param-name>
			<param-value>/adminPage/group/managerindex.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listmemberingroup</param-name>
			<param-value>/adminPage/group/listmemberingroup.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>modifygroupview</param-name>
			<param-value>/adminPage/group/modifygroupview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>addmembertogroupview</param-name>
			<param-value>/adminPage/group/addmembertogroupview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>addmembertogroupresult</param-name>
			<param-value>/adminPage/group/addmembertogroupresult.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>removefromgroupview</param-name>
			<param-value>/adminPage/group/removefromgroupview.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>group</servlet-name>
		<url-pattern>/admin/group/*</url-pattern>
	</servlet-mapping>
	
	<!-- 处理对前台登录、后台登录、前台注销、后台注销、注册请求的Servlet -->
	<servlet>
		<servlet-name>logx</servlet-name>
		<servlet-class>com.servlet.LogXServlet</servlet-class>
		<init-param>
			<param-name>visitloginview</param-name>
			<param-value>/visitPage/visitlogin.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminloginview</param-name>
			<param-value>/adminPage/adminlogin.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>regview</param-name>
			<param-value>/visitPage/user/regview.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>logx</servlet-name>
		<url-pattern>/visitlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logx</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logx</servlet-name>
		<url-pattern>/loginrun</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logx</servlet-name>
		<url-pattern>/visitlogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logx</servlet-name>
		<url-pattern>/adminlogout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logx</servlet-name>
		<url-pattern>/regview</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logx</servlet-name>
		<url-pattern>/checkmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logx</servlet-name>
		<url-pattern>/regrun</url-pattern>
	</servlet-mapping>
	
	<!-- 处理对"会员"进行相关请求的Servlet -->
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>com.servlet.UserServlet</servlet-class>	
		<init-param>
			<param-name>viewmember</param-name>
			<param-value>/visitPage/user/viewmemberinfo.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listmemberposttopic</param-name>
			<param-value>/visitPage/user/listmemberposttopic.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>managerindex</param-name>
			<param-value>/adminPage/user/managerindex.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>assignboardview</param-name>
			<param-value>/adminPage/user/assignboardview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>assigncategoryview</param-name>
			<param-value>/adminPage/user/assigncategoryview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>deleteuserview</param-name>
			<param-value>/adminPage/user/deleteuserview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>addnewuserview</param-name>
			<param-value>/adminPage/user/addnewuserview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>searchuserview</param-name>
			<param-value>/adminPage/user/searchuserview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminviewmember</param-name>
			<param-value>/adminPage/user/adminviewmemberinfo.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>admineditmemberinfoview</param-name>
			<param-value>/adminPage/user/admineditmemberinfoview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>admineditmemberpswdview</param-name>
			<param-value>/adminPage/user/admineditmemberpswdview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>cancelcategorymasterview</param-name>
			<param-value>/adminPage/user/cancelcategorymasterview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>cancelboardmasterview</param-name>
			<param-value>/adminPage/user/cancelboardmasterview.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/visit/user/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/admin/user/*</url-pattern>
	</servlet-mapping>
	
	<!-- 处理对"个人资料"进行相关请求的Servlet -->
	<servlet>
		<servlet-name>myself</servlet-name>
		<servlet-class>com.servlet.UserServlet</servlet-class>	
		<init-param>
			<param-name>myinfoindex</param-name>
			<param-value>/visitPage/user/myinfoindex.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>editmyinfoview</param-name>
			<param-value>/visitPage/user/editmyinfoview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>editmyiconview</param-name>
			<param-value>/visitPage/user/editmyiconview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>editmysignview</param-name>
			<param-value>/visitPage/user/editmysignview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>editmypswdview</param-name>
			<param-value>/visitPage/user/editmypswdview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listmycollect</param-name>
			<param-value>/visitPage/user/listmycollect.jsp</param-value>
		</init-param>	
		<init-param>
			<param-name>sendmessageview</param-name>
			<param-value>/visitPage/user/sendmessageview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listmessagemain</param-name>
			<param-value>/visitPage/user/listmessagemain.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listmyinceptmessages</param-name>
			<param-value>/visitPage/user/listmyinceptmessages.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listmysendmessages</param-name>
			<param-value>/visitPage/user/listmysendmessages.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>viewmymessage</param-name>
			<param-value>/visitPage/user/viewmymessage.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listmyposttopic</param-name>
			<param-value>/visitPage/user/listmemberposttopic.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listmyreplytopic</param-name>
			<param-value>/visitPage/user/listmyreplytopic.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>myself</servlet-name>
		<url-pattern>/visit/myself/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myself</servlet-name>
		<url-pattern>/admin/myself/*</url-pattern>
	</servlet-mapping>
	
	<!-- 处理对"类别"进行请求的Servlet -->
	<servlet>
		<servlet-name>category</servlet-name>
		<servlet-class>com.servlet.CategoryServlet</servlet-class>	
		<init-param>
			<param-name>alllistPage</param-name>
			<param-value>/visitPage/category/alllistshow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>onelistPage</param-name>
			<param-value>/visitPage/category/onelistshow.jsp</param-value>
		</init-param>					
		<init-param>
			<param-name>managerindex</param-name>
			<param-value>/adminPage/forum/managerindex.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>addcategoryview</param-name>
			<param-value>/adminPage/forum/addcategoryview.jsp</param-value>
		</init-param>		
		<init-param>
			<param-name>addboardview</param-name>
			<param-value>/adminPage/forum/addboardview.jsp</param-value>
		</init-param>		
		<init-param>
			<param-name>addcategorymasterview</param-name>
			<param-value>/adminPage/forum/addcategorymasterview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>modifycategoryview</param-name>
			<param-value>/adminPage/forum/modifycategoryview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>deleteycategoryview</param-name>
			<param-value>/adminPage/forum/deletecategoryview.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>category</servlet-name>
		<url-pattern>/visit/category/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>category</servlet-name>
		<url-pattern>/admin/category/*</url-pattern>
	</servlet-mapping>
		
	<!-- 处理对"版块"进行请求的Servlet -->
	<servlet>
		<servlet-name>board</servlet-name>
		<servlet-class>com.servlet.BoardServlet</servlet-class>	
		<init-param>
			<param-name>listmain</param-name>
			<param-value>/visitPage/board/listmain.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listcommontopic</param-name>
			<param-value>/visitPage/board/listcommontopic.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>postview</param-name>
			<param-value>/visitPage/topic/postview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>addboardmasterview</param-name>
			<param-value>/adminPage/forum/addboardmasterview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>modifyboardview</param-name>
			<param-value>/adminPage/forum/modifyboardview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>deleteboardview</param-name>
			<param-value>/adminPage/forum/deleteboardview.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>board</servlet-name>
		<url-pattern>/visit/board/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>board</servlet-name>
		<url-pattern>/admin/board/*</url-pattern>
	</servlet-mapping>	
	<!-- 处理对"主题"进行相关请求的Servlet -->
	<servlet>
		<servlet-name>topic</servlet-name>
		<servlet-class>com.servlet.TopicServlet</servlet-class>	
		<init-param>
			<param-name>viewPage</param-name>
			<param-value>/visitPage/topic/viewshow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>newreplylist</param-name>
			<param-value>/visitPage/reply/newlistshow.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>morereplylist</param-name>
			<param-value>/visitPage/reply/morelistshow.jsp</param-value>
		</init-param>	
		<init-param>
			<param-name>replyoledit</param-name>
			<param-value>/visitPage/reply/replyoledit.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>modifyview</param-name>
			<param-value>/visitPage/topic/modifyview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>changetypeview</param-name>
			<param-value>/visitPage/topic/changetypeview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>changestatusview</param-name>
			<param-value>/visitPage/topic/changestatusview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>moveview</param-name>
			<param-value>/visitPage/topic/moveview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>deleteview</param-name>
			<param-value>/visitPage/topic/deleteview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>listunchecktopics</param-name>
			<param-value>/visitPage/topic/listunchecktopics.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>topic</servlet-name>
		<url-pattern>/visit/topic/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>topic</servlet-name>
		<url-pattern>/admin/topic/*</url-pattern>
	</servlet-mapping>
	<!-- 处理对"回复帖"进行相关请求的Servlet -->
	<servlet>
		<servlet-name>reply</servlet-name>
		<servlet-class>com.servlet.ReplyServlet</servlet-class>	
		<init-param>
			<param-name>modifyview</param-name>
			<param-value>/visitPage/reply/modifyview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>deleteview</param-name>
			<param-value>/visitPage/reply/deleteview.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>reply</servlet-name>
		<url-pattern>/visit/reply/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reply</servlet-name>
		<url-pattern>/admin/reply/*</url-pattern>
	</servlet-mapping>
	<!-- 处理对"附件"进行相关请求的Servlet -->
	<servlet>
		<servlet-name>attachment</servlet-name>
		<servlet-class>com.servlet.AttachmentServlet</servlet-class>	
		<init-param>
			<param-name>addattachmentTopicmain</param-name>
			<param-value>/visitPage/attachment/addattachmentTopicmain.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>addattachmentReplymain</param-name>
			<param-value>/visitPage/attachment/addattachmentReplymain.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>deleteview</param-name>
			<param-value>/visitPage/attachment/deleteview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>maxsize</param-name>
			<param-value>20971520</param-value>
		</init-param>
		<init-param>
			<param-name>uploadresult</param-name>
			<param-value>/visitPage/attachment/uploadresult.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>attachment</servlet-name>
		<url-pattern>/visit/attachment/*</url-pattern>
	</servlet-mapping>
	<!-- 处理对"公告"进行相关请求的Servlet -->
	<servlet>
		<servlet-name>placard</servlet-name>
		<servlet-class>com.servlet.PlacardServlet</servlet-class>	
		<init-param>
			<param-name>viewplacard</param-name>
			<param-value>/visitPage/placard/viewplacard.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>postplacardview</param-name>
			<param-value>/visitPage/placard/postplacardview.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>deleteplacardview</param-name>
			<param-value>/visitPage/placard/deleteplacardview.jsp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>placard</servlet-name>
		<url-pattern>/visit/placard/*</url-pattern>
	</servlet-mapping>
	
<!-- ★ 过滤器 ★ -->
	<!-- 实现编码转换的过滤器 -->
	<filter>
		<filter-name>characterencoding</filter-name>
		<filter-class>com.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>characterencoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 验证session是否过期的过滤器 -->
	<filter>
		<filter-name>limit</filter-name>
		<filter-class>com.filter.LimitFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>limit</filter-name>
		<url-pattern>/visit/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>limit</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<!-- 验证访问路径的的过滤器 -->
	<filter>
		<filter-name>path</filter-name>
		<filter-class>com.filter.PathFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>path</filter-name>
		<url-pattern>/visit/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>path</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<!-- 验证用户是否使用了Cookie自动登录的过滤器 -->
	<filter>
		<filter-name>cookie</filter-name>
		<filter-class>com.filter.CookieFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cookie</filter-name>
		<url-pattern>/index</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cookie</filter-name>
		<url-pattern>/visit/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>cookie</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<!-- 验证用户是否登录的过滤器 -->
	<filter>
		<filter-name>login</filter-name>
		<filter-class>com.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>visitlogin</param-name>
			<param-value>/visitPage/visitlogin.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>adminlogin</param-name>
			<param-value>/adminPage/adminlogin.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/myself/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/visit/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<!-- 验证用户权限的过滤器 -->
	<filter>
		<filter-name>able</filter-name>
		<filter-class>com.filter.AbleFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>able</filter-name>
		<url-pattern>/visit/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>able</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
	<!-- 验证用户进行的表单请求是否以POST方式提交的过滤器 -->
	<filter>
		<filter-name>method</filter-name>
		<filter-class>com.filter.SubmitFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>method</filter-name>
		<url-pattern>/visit/*</url-pattern>
	</filter-mapping>
		<filter-mapping>
		<filter-name>method</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>	
	
	<welcome-file-list>
    	<welcome-file>index.jsp</welcome-file>
  	</welcome-file-list>
</web-app>
